<% provide(:title, "Thought of the week - Homepage") %> 

<div class="col-xs-7 col-sm-7">
  <h1 id="main_header"> <%= @total_number_of_posts %> THOUGHTS AND ESSAYS </h1>
  <!-- <p> we write for enjoyment - primarily our enjoyment. hopefully for yours too. </p> -->

  <div id="container">
    <% @all_posts.each do |post| %>
     <a href="<%= post_path(post) %>"> 
        <div class="item">  
          <h4 style="display: inline;"> <%= post.title %> </h4> 
          <p style="display: inline; color: #5F5F5F;"> <%= post.user.name %> </p> 
        </div> 
     </a>
    <% end %> 
  </div> 
</div>

<div class="col-xs-5 col-sm-4">
  <div class="homepage_right_sidebar">
    <h1 id="twitter_blue"> The people writing this stuff: </h1>
    <% @users.each do |user| %>
      <h1> <%= link_to user.name, user_profile_path(user) %> </h1> 
    <% end %>
    <br>
      <h5 style="color: #F2F200; font-size: 16px; line-height: 1.15;"> "NAME" is a collective blog by the people listed above. Each post is an answer to the simple, yet interesting question: "What was your most interesting thought this week." We hope you enjoy reading as much as we enjoy writing. </h5>
      <br>
    <h4> <%= link_to "Write a guest post", "#" %> </h4>
    <h4> <%= link_to "Send us an email", "#" %> </h4>
  </div>

</div> 

<!-- Initializing JQeury Masonry -->
<script>
  var container = document.querySelector('#container');
  var msnry = new Masonry( container, {
    // options
    itemSelector: '.item'
  });
</script> 
