<% provide(:title, "Thought of the week - Homepage") %> 

<div class="col-xs-7 col-sm-8">
  <h1 id="main_header"> <%= @total_number_of_posts %> THOUGHTS </h1>
  <!-- <p> we write for enjoyment - primarily our enjoyment. hopefully for yours too. </p> -->

  <div id="container">
    <% @all_posts.each do |post| %>
     <a href="<%= post_path(post) %>"> 
        <div class="item">  
          <h4 style="display: inline;"> <%= post.title %> </h4> 
          <p style="display: inline; color: #404040;"> by <%= post.user.name %> </p> 
        </div> 
     </a>
    <% end %> 
  </div> 
</div>

<div class="col-xs-5 col-sm-4 homepage_right_sidebar">
  <h1 id="twitter_blue"> PEOPLE </h1>
  <% @users.each do |user| %>
    <h1> <%= link_to user.name, user_profile_path(user) %> </h1> 
  <% end %>
</div> 

<!-- Initializing JQeury Masonry -->
<script>
  var container = document.querySelector('#container');
  var msnry = new Masonry( container, {
    // options
    itemSelector: '.item'
  });
</script> 
