<% provide(:title, "Make a Profile") %> 

<div class="col-xs-6 col-xs-offset-3">

  <h1 id="twitter_blue">Make a Profile</h1>
  <br>

  <%= form_for([@user,@profile], url: user_profile_path) do |f| %>
    <% if @profile.errors.any? %>
        <% @profile.errors.full_messages.each do |message| %>
          <h3 id="twitter_blue"><%= message %></h3>
        <% end %>
    <% end %>

    <div class="field" style="width: 330px;">
      <h4 id="twitter_blue"> 1. Add Selfie </h4>
      <%= f.file_field :image %> <br>
      <h4 id="twitter_blue"> 2. Add Self-description </h4>
      <%= f.text_area :description, placeholder: "Mini self-description...", class: "form-control", style: "height: 155px;" %> <br>
      <%= f.submit "Create Profile", class: "btn btn-md btn-warning" %>
    </div>
  <% end %>

</div>

