<% unless @user.profile.nil? %> 
  <!-- If there is a User Profiel -->
  <div class="row">
    <div class="col-md-4">
      <div class="profile_on_profile">
          <%= image_tag(@profile.image) %>
          <h3 id="twitter_blue"> <%= @user.name %> </h3> 
          <h4 id="twitter_blue"> Thoughts: <%= @user.posts.count %> </h4> 
          <p style="color:black;"> <%= h(@profile.description).gsub(/\n/, '<br/>').html_safe %> </p>
      </div>
    </div>

    <div class="col-md-8">
      <div class="posts_on_profile">
        <h2 id="twitter_blue"> All Posts by author </h2> 
        <% @user.posts.each do |post| %>
          <h2 id="twitter_blue"> <%= post.title %> </h2> 
        <% end %>
      </div>
    </div>
  <!-- Closing Row -->
  </div>

<% else %>
  <!-- If there is no User Profile -->  
  <% if current_user == @user %>
    <a href="<%= new_user_profile_path(@user) %>">
      <h1 id="twitter_blue"> You have no profile yet - Make One </h1>
    </a>
  <% else %>
    <h3 id="twitter_blue"> This author doesn't have a profile yet. </h3>  
  <% end %>

<% end %>

