<p id="notice"><%= notice %></p>

<br>
<br>

<ol> 
  <% @posts.each do |post| %>
      <li> <a href="<%= user_post_path(@user,post) %>"> <%= post.title %> </a> - 
      <a href="<%= user_post_path(@user,post) %>"> Read </a> - 
      <%= link_to 'Edit', edit_user_post_path(@user,post) %> -
      <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
  <% end %>
</ol> 


