<h2> New Post </h2> 

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
  <% end %>

  <%= f.text_field :title, placeholder: "Title" %> <br> <br>
  <%= f.text_area :content, style: "height: 350px; width: 500px;", placeholder: "text" %> <br> <br>
  <%= f.submit "Post the Post", class: "btn btn-md btn-warning" %>
<% end %>



