<% provide(:title, "Essay -"+" "+@post.title) %> 

<div class="row post_show_row">
  <!-- left side image --> 
  <div class="col-sm-3 col-md-3 image_on_post">
    <% unless @user.profile.nil? %> 
      <div class="profile_on_post">
        <a href="<%= user_profile_path(@user) %>"> 
          <%= image_tag(@profile.image.url) %>
          <h3> <%= @user.name %> <br> See Profile </h3> 
        </a>
      </div>
    <% else %>
    <% end %>
  </div> 

  <!-- the actual post --> 
  <div class="col-xs-12 col-sm-9 col-md-6 post_show">
    <h3> <%= @post.title %> </h3>
    <p> <%= h(@post.content).gsub(/\n/, '<br/>').html_safe %> </p>
  </div>

  <!-- sidebar on the right --> 
  <div class="col-md-3 post_show_sidebar">
    <h3> Other Posts </h3>    
    <% @posts.each do |post| %>
      <h4> - <%= link_to post.title, post_path(post) %> </h4>
    <% end %>
  </div>
</div>

<!-- commenting section --> 
<div class="row">
  <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-3 post_show">
    <p> Comments/Responses </p>
    <%= form_for([@post,@new_comment], url: post_comments_path(@post)) do |f| %>
      <%= f.text_area :content, class: "form-control", placeholder: "What do you think about this thought?" %> <br> 
      <%= f.text_field :name, class: "form-control", placeholder: "Name(required)"%> <br> 
      <%= f.submit "Post", class: "btn btn-md btn-warning" %> 
    <% end %> 
      <% @post.comments.each do |comment| %> 
        <div class="content_of_comment"> <%= comment.content %> <br> <%= comment.name %> </div>
      <% end %> 
    </div>
  </div>
</div>

