<div class="my_header">
  <ul>
    <% if user_signed_in? %>
      <% unless current_user.profile.nil? %> 
        <li> <%= link_to "Manage Profile", edit_user_profile_path(current_user), id: "" %> </li>                    
      <% else %> 
        <li>  <%= link_to "CREATE PROFILE", new_user_profile_path(current_user), id: "" %> </li>
      <% end %> 
      <li>  <%= link_to "Manage Posts", user_posts_path(current_user), id: ""  %> </li> 
      <li>  <%= link_to "Write Post", new_user_post_path(current_user), id: ""  %> </li> 
      <li> <%= link_to "Log Out", destroy_user_session_path, method: :delete, id: "" %> </li> 
    <% else %>
      <li> <%= link_to "Home", root_path %> </li>
      <li> <%= link_to "Login", new_user_session_path %> </li>
    <% end %>
  </ul> 
</div> 
