<div class="header">
    <% if user_signed_in? %>
    <ul>
      <div class="inside_ul">
                <!-- flash messages -->
        <% flash.each do |name, msg| %> 
          <li style="margin-right: 25px; font-weight: bold; color: #4499FF;"> <%= msg %> </li> 
        <% end %> 

        <li> <%= link_to "Home", root_path %> </li>
        <% unless current_user.profile.nil? %> 
          <li> <%= link_to "Manage Profile", edit_user_profile_path(current_user) %> </li>                    
        <% else %> 
          <li>  <%= link_to "CREATE PROFILE", new_user_profile_path(current_user) %> </li>
        <% end %> 
        <li>  <%= link_to "Manage Posts", user_posts_path(current_user) %> </li> 
        <li>  <%= link_to "Write Post", new_user_post_path(current_user) %> </li> 
        <li> <%= link_to "Log Out", destroy_user_session_path, method: :delete %> </li> 
      </div>
    </ul> 
      <% else %>
      <ul>
        <div class="inside_ul">
          <li> <%= link_to "Home", root_path %> </li>
          <li> <%= link_to "Login", new_user_session_path %> </li>
        </div> 
      </ul> 
      <% end %>
</div> 
