<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- To ensure proper rendering and touch zooming - Bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <!-- Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>
<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <!-- flash messages -->
        <% flash.each do |name, msg| %> 
          <p style="position: fixed; top: 5px; left: 10px; font-weight: bold; color: #4499FF; font-size: 18px;"> <%= msg %> </p> 
        <% end %> 

        <%= render 'layouts/header' %>
        <%= yield %>
      </div> 
    </div> 
  </div>

</body>
</html>
